[".vim/autoload/plug.vim"]
  type = "file"
  url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
  refreshPeriod = "168h"

[".local/share/lscolors.sh"]
  type = "file"
  url = "https://raw.githubusercontent.com/trapd00r/LS_COLORS/refs/heads/master/lscolors.sh"
  refreshPeriod = "168h"

[".tmux"]
  type = "git-repo"
  url = "https://github.com/gpakosz/.tmux.git"
  refreshPeriod = "168h"
  clone.args = ["--single-branch"]

[".oh-my-zsh"]
  type = "git-repo"
  url = "https://github.com/ohmyzsh/ohmyzsh.git"
  refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/chezmoi"]
  type = "git-repo"
  url = "https://github.com/mass8326/zsh-chezmoi.git"
  refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
  type = "git-repo"
  url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
  refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
  type = "git-repo"
  url = "https://github.com/zsh-users/zsh-autosuggestions.git"
  refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/gitingore"]
  type = "git-repo"
  url = "https://github.com/voronkovich/gitignore.plugin.zsh.git"
  refreshPeriod = "168h"
  clone.args = ["--recurse-submodules"]

[".oh-my-zsh/custom/plugins/diff-so-fancy"]
  type = "git-repo"
  url = "https://github.com/so-fancy/diff-so-fancy.git"
  refreshPeriod = "168h"

{{- if eq .shell_theme "powerlevel10k/powerlevel10k" }}
[".oh-my-zsh/custom/themes/powerlevel10k"]
  type = "git-repo"
  url = "https://github.com/romkatv/powerlevel10k.git"
  refreshPeriod = "168h"
  clone.args = ["--depth=1"]
{{ end -}}
