{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Name of user" -}}
{{- $shell_theme := promptString "shell theme" "robbyrussell" -}}
{{- $rich := promptBoolOnce . "rich" "Rich or not" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    shell_theme = {{ $shell_theme | quote }}
    rich = {{ $rich }}
