export PATH=$HOME/bin:$HOME/.local/bin:$PATH
{{- if eq .chezmoi.os "darwin" }}

eval "$(/opt/homebrew/bin/brew shellenv)"
export PATH="/opt/homebrew/opt/coreutils/libexec/gnubin:${PATH}"
export MANPATH="/opt/homebrew/opt/coreutils/libexec/gnuman:${MANPATH}"
{{ end -}}
